<h1>All Posts</h1>

<% @posts.each do |p| %>
  <div style="border: 1px solid">
    <h2><%= p.title %></h2>
    <p><%= p.body %></p>
    <% if current_user %>
      <i>- <%= p.user.name %></i>
    <% end %>
  </div>
<% end %>

<ul>
  <% if current_user %>
    <li><%= link_to "Create new Post", posts_new_path %></li>
    <li><%= link_to "Sign Out", signin_path, method: 'delete' %></li>
  <% else %>
    <li><%= link_to "Sign In", signin_path %></li>
    <li><%= link_to "Sign Up", users_new_path %></li>
  <% end %>
</ul>